/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Dexter Game Specific Styling
   ========================================================================== */
::selection {
  background: #EF6363; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EF6363; /* Gecko Browsers */
}


body{
    overflow: hidden;
    font-family: 'Lekton', sans-serif;
}

p{
    cursor: default;
}

.overlay{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dating-profile{
    width: 75%;
    height: 75%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 101;
    background-color: #C74A4A;
    border-radius: 10px;
}

.dating-profile h2{
    margin-top: 60px;
    margin-left: 25px;
    font-size: 1.7em;
    color: #E0E0DA;
}

.top-bar{
    width: 100%;
    background-color: #E0E0DA;
    z-index: 102;
    position: absolute;
    top: 0;
    height: 45px;
    border-radius: 10px 10px 0 0;
}

.dating-content{
    background-color: #E0E0DA;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -15%;
    width: 94%;
    height: 75%;
    overflow: scroll;
}

.user-content{
    width: 90%;
    margin: 25px auto;
}

.user-picture{
    width: 30%;
    float: left;
}

.user-picture img{
    width: 85%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-descr{
    width: 55%;
    float: left;
    margin-left: 5%;
}

.user-descr h3{
    text-transform: uppercase;
    font-style: italic;
    font-size: 3em;
    margin: 0;
    line-height: .5em;
    margin-top: 25px;
    border-bottom: 5px solid #C84A4A;
    padding-bottom: 15px;
    display: inline-block;
}

.start-btn{
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
    color: #C84A4A;
    width: 23%;
    border: 5px solid #C84A4A;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover{
    background-color: #C84A4A;
    color: #E0E0DA;
}

.start-btn p{
    margin: 15px auto 9px;
}

.x-btn-close{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #C74A4A;
    position: absolute;
    top: 11px;
    right: 12px;
}

.x-btn-close:hover{
    background-color: #D45050;
}



.table{
    width: 50%;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
    z-index: 1;
}

.person{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 0;
}

.progress-bar-container{
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 3;
}

.progress-icon{
    margin-right: 13px;
    margin-top: 14px;
    width: 37px;
}

.progress-bar {
    float: right;
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 9px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

.pink span {
    background-color: #C74A4A;
}

.blue span {
    background-color: #6393C6;
}

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);

    animation: animate-stripes 7s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


.textbox-container{
    width: 100%;
    height: 190px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    position: absolute;
    bottom: 0;
}


.you-textbox{
    width: 97%;
    background-color: #F7F2F3;
    z-index: 3;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 155px;
    border-radius: 10px;
    border: #6393C6 solid 5px;
}

.textbox-label{
    background-color: #F7F2F3;
    border-radius: 10px 10px 17px 17px;
    border: #6393C6 solid 5px;
    width: 35%;
    position: absolute;
    margin: auto;
    border-bottom: #F7F2F3 solid 15px;
    z-index: 4;
}

.textbox-label p{
    margin: 10px 20px -10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.label-left{
    top: -20px;
    left: 0;
    right: 56%;
}

.label-right{
    top: -40px;
    left: 50%;
    right: 0;
}

.you-answer-textbox{
    position: absolute;
    height: 100%;
    width: 100%;
}

.text-btn{
    width: 80%;
    border-radius: 5px;
    border: #124068 3px solid;
    margin: 15px auto;
    height: 20px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.text-btn:active{
-webkit-box-shadow: inset 0px 11px 9px -10px rgba(42,43,54,1);
-moz-box-shadow: inset 0px 11px 9px -10px rgba(42,43,54,1);
box-shadow: inset 0px 11px 9px -10px rgba(42,43,54,1);
}

.truth-container{
    position: absolute;
    left: 15px;
    width: 50%;
}

.btn-truth{
    background-color: #6393C6;
}

.btn-truth:hover{
    background-color: #6E9FD4;
}


.btn-truth:active{
    background-color: #5A84B1;
}

.lies-container{
    position: absolute;
    right: 15px;
    width: 50%;
}

.btn-lie{
    background-color: #C74A4A;
}

.btn-lie:hover{
    background-color: #D45050;
}

.btn-lie:active{
    background-color: #A94141;
}

.text-message-prompt{
    margin-left: 3%;
    width: 35%;
    float: left;
    font-style: italic;
    font-size: 2em;
}

.topics-container{
    float: left;
    width: 60%;
}

.topics-container .text-btn{
    float: left;
    width: 35%;
    margin-left: 6%;
    margin-bottom: 0;
}

.they-textbox{
    opacity: .85;
    position: absolute;
    top: 55px;
    right: 35px;
    width: 400px;
    z-index: 3;
    background-color: #F7F2F3;
    border-radius: 10px;
    border: #124068 solid 3px;
}

.they-textbox .label-left{
    font-size: .75em;
    margin-top: 9px;
    top: -34px;
    border: #124068 solid 3px;
    border-bottom: #F7F2F3 solid 13px;
}

.they-textbox-content{
    margin: 20px 0 10px;
    padding: 0 20px;
    font-size: 1.5em;
    font-style: italic;
}

.is-hidden{
    display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}